html {
  direction: rtl;
}

[data-slot='italic'] {
  font-weight: 400;
  font-family: var(--font-serif);
}

.masking-text {
  overflow: hidden;
}
.masking-text .line {
  display: block;
  opacity: 0;
  transform: translateY(40px);
}

.hero-img-anim {
  opacity: 0 !important;
  transition: opacity 0.2s;
}
.hero-img-anim.loaded {
  opacity: 1 !important;
}

.hide-mobile {
  display: flex;
}
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}
