:root {
  --color-scrollbar-thumb: #d1d5db; /* Tailwind zinc-300 */
  --color-scrollbar-thumb-hover: #a1a1aa; /* Tailwind zinc-400 */
  --color-scrollbar-track: #f4f4f5; /* Tailwind zinc-100 */
}

html {
  direction: rtl;
}

[data-slot='italic'] {
  font-weight: 400;
  font-family: var(--font-serif);
}

.masking-text {
  overflow: hidden;
}
.masking-text .line {
  display: block;
  opacity: 0;
  transform: translateY(40px);
}

.hero-img-anim {
  opacity: 0 !important;
  transition: opacity 0.2s;
}
.hero-img-anim.loaded {
  opacity: 1 !important;
}

.no-scrollbar::-webkit-scrollbar {
  height: 6px;
  background: transparent;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb, #d1d5db);
  border-radius: 6px;
  transition: background 0.2s;
}
.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover, #a1a1aa);
}
.no-scrollbar::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track, #f4f4f5);
  border-radius: 6px;
}
.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb, #d1d5db) var(--color-scrollbar-track, #f4f4f5);
}
